@import "./../../assets/scss/configurations/config";

.language-selector {
  padding-top: 10px;

  position: relative;
  .lang {
    cursor: pointer;
    i {
      font-size: 33px;
    }
  }
  button {
    position: absolute;
    background-color: $primary-color;
    color: $secondary-color;
    width: 100px;
    top: -25px;
    text-align: center;
    inset-inline-start: 40px;
    padding: 7px 3px;
    border-radius: 12px;
    @include fontStyles($font-size2, $font-weight2, $font-family);
    display: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      display: block;
      background-color: $primary-color;
      color: $secondary-color;
    }
  }

  &:hover {
    button {
      display: block;
    }
  }
}

.rtl {
  button {
    font-family: $font-family-arabic;
  }
}

@media (max-width: 768px) {
  .language-selector {
    justify-content: start;
    padding-top: 0;
    padding-bottom: 10px;
  }
}
