@import "../../assets/scss/configurations/config";
.contact {
  form {
    background-color: rgb(233, 233, 233);
    padding: 30px 25px 60px 25px;
    .form-label {
      text-transform: capitalize;
      font-weight: 500;
    }
    input,
    textarea {
      width: 100%;
      padding: 15px 10px;
      margin: 5px 0;
      border: 1px solid #ccc;
      background-color: rgb(205, 204, 204);
      border-radius: 10px;

      &::placeholder {
        color: #878787;
        text-transform: capitalize;
      }
      &:focus {
        outline: none;
        border-color: #6c63ff;
        border-width: 2px;
      }
    }
    .btn {
      background-color: $primary-color;
      padding: 10px 0px;
      cursor: pointer;
      width: 200px;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: darken($primary-color, 2%);
      }
    }
  }

  .user-info {
    .icon {
      width: 50px;
      height: 50px;
      background-color: rgb(233, 233, 233);
      color: $primary-color;
      border-radius: 8px;

      i {
        font-size: 24px;
      }
    }
    .phone-trans {
      transform: rotate(270deg);
    }
    a {
      text-decoration: none;
      color: $gray-light1;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: darken($gray-light1, 10%);
      }
    }
  }
  .social {
    .social-icons {
      div {
        width: 50px;
        height: 50px;
        background-color: rgb(233, 233, 233);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          transition: all 0.3s ease-in-out;
        }
      }

      .github:hover i {
        color: #fff;
      }
      .linkedin:hover i {
        color: #0a66c2;
      }
      .twitter:hover i {
        color: #14171a;
      }
      .facebook:hover i {
        color: #4267b2;
      }
    }
  }
  .work-together {
    background-color: rgb(233, 233, 233);
    padding: 20px;
    border-radius: 12px;
  }
}
