@import "../../assets/scss/configurations/config";
.wrapper {
  background-color: $black-light2;
  color: $secondary-color;
  width: 100px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: $primary-color;
    font-family: $font-family;
    width: 50px;
    height: 50px;
    background-color: $white-light1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }
  .rtl {
    a {
      font-family: $font-family-arabic;
    }
  }
  .sidebar-content {
    display: flex;
    flex-grow: 1;
    ul {
      flex-grow: 1;
    }
    li {
      position: relative;
      z-index: 999;
      transition: all 0.3s ease-in-out;
      img {
        width: 33px;
        height: 33px;
      }
      p {
        position: absolute;
        background-color: $primary-color;
        color: $secondary-color;
        width: 100px;
        top: -25px;
        text-align: center;
        inset-inline-start: 35px;
        padding: 7px 3px;
        border-radius: 12px;
        @include fontStyles($font-size2, $font-weight2, $font-family);
        display: none;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        p {
          display: block;
        }
        img {
          filter: invert(47%) sepia(49%) saturate(6505%) hue-rotate(228deg)
            brightness(102%) contrast(107%);
        }
      }
    }
  }
}

.nav-bar {
  display: none;
}
.show {
  display: flex !important;
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: row;
    padding-inline: 10px;
    height: 80px;
    width: 100%;
    position: relative;
    z-index: 888;
    .logo {
      margin-bottom: 0 !important;
    }
    .sidebar-content {
      display: none;
      ul {
        flex-direction: row;
      }
    }
    .lang {
      display: none;
    }
    .sidebar-toggle {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 2px;
      background-color: $white-light1;
      cursor: pointer;
      position: absolute;
      inset-inline-end: 10px;
      z-index: 9999;

      &::after {
        content: "";
        width: 90%;
        height: 2px;

        background-color: $white-light1;
        position: absolute;
        top: -10px;
        inset-inline-end: 0;
      }
      &::before {
        content: "";
        width: 90%;
        height: 2px;

        background-color: $white-light1;
        position: absolute;
        top: 10px;
        inset-inline-start: 0;
      }
    }
  }

  .nav-bar {
    padding-top: 20px;
    padding-inline: 8px;
    background-color: $black-light2;
    display: none;

    color: #fff;
    .sidebar-toggle {
      cursor: pointer !important;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 2px;
      cursor: pointer;
      position: absolute;
      inset-inline-end: 10px;
      z-index: 9999;

      &::after {
        content: "";
        width: 90%;
        height: 2px;
        transform: rotate(-46deg);
        background-color: #dfd0b8;
        position: absolute;
        top: 15px;
        inset-inline-end: -1px;
      }
      &::before {
        content: "";
        width: 90%;
        height: 2px;
        transform: rotate(46deg);
        background-color: #dfd0b8;
        position: absolute;
        top: 16px;
        inset-inline-start: 4px;
      }
    }
    ul {
      padding-top: 60px;
      li {
        a {
          @include fontStyles($font-size2, $font-weight2, $font-family);
          color: $secondary-color;
        }
      }
    }
  }
}
