@import "../../assets/scss/configurations/config";

.project {
  background-color: rgb(233, 233, 233);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  .card-header {
    img {
      width: 100%;
      height: 165px;
      object-fit: fill;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      position: relative;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      );
    }
    .heart {
      inset-inline-end: -20%;
      font-size: 18px;
      bottom: 0;
      background-color: #c8c5c0;
      height: 75px;
      width: 40px;
      border-top-left-radius: 16px;
      border-bottom-right-radius: 16px;
      i {
        font-size: 16px;
      }
      i:hover {
        color: $primary-color;
      }
    }
    &:hover .heart {
      transition: all 0.3s ease-in-out;
      inset-inline-end: 0;
    }
  }

  .card-body {
    padding: 10px 20px;
    .desc {
      position: relative;
      .short-text {
        color: $black-light2;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .long-text {
        background-color: $primary-color;
        padding: 10px;
        text-transform: capitalize;
        text-align: start;
        border-radius: 12px;
        position: absolute;
        z-index: 999;
        bottom: 20px;
        inset-inline-start: 20px;
        display: none;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        .long-text {
          display: block;
        }
      }
    }
    .btn {
      background-color: $primary-color;
      text-transform: capitalize;
      transition: all 0.3s ease-in-out;
    }
    .btn:first-child {
      &:hover {
        background-color: darken($primary-color, 2%);
      }
    }
    .lang {
      transform: rotate(-100deg);
    }
    .git {
      background-color: rgb(179, 170, 170);
      &:hover {
        background-color: darken(rgb(179, 170, 170), 2%);
      }
    }
  }
}

@media (max-width: 768px) {
  .project {
    border-radius: 12px;
    .card-header {
      img {
        height: 220px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }
      .heart {
        inset-inline-end: -10%;
        width: 40px;
        height: 80px;
      }
    }
  }
}
