$font-size1: 14px;
$font-size2: 16px;
$font-size3: 18px;
$font-size4: 20px;
$font-size5: 24px;
$font-size-semilarge: 30px;
$font-size-large: 34px;
$font-size-xxlarge: 40px;

$font-weight1: 300;
$font-weight2: 400;
// Normal
$font-weight3: 500;
// Medium
$font-weight4: 600;
// Semi-bold
$font-weight5: 700;
// Bold
$font-weight6: 800;
// Extra-bold
$font-weight7: 900;
