$primary-color: #6c63ff;
$main-color: #000;
$black-light1: rgba(0, 0, 0, 0.8);
$black-light2: #222831;
$gray-light1: #393e46;
$gray-light2: #948979;
$secondary-color: #f8f9fa;
$white-light1: #dfd0b8;
$bg-color: #c2bebe;
